<div class="banner-menu">
  <div class="ply-container">
    <span class="banner-logo">
      <!-- <img src="/src/assets/images/svg/logo-pillarly.svg" alt="logo"> -->
    </span>
    <div class="banner-menu-items">
      <button mat-button (click)="goTo('/admin/amenities')">Amenities</button>
      <button mat-button (click)="goTo('/admin/specifications')">Specifications</button>
      <button mat-button (click)="goTo('/admin/bhk_units')">BHK Units</button>
      <button mat-button>Properties</button>
    </div>
  </div>
</div>