<div class="enquiry-form">

  <div class="enquiry-form-header"> Enquiry </div>
  <span class="enquiry-form-header-subtext"> Please fill-in the below form </span>

  <form [formGroup]="enquiryForm">

    <div class="form-group">
      <label class="full-name"> Your Full Name </label>
      <input type="text" class="fullname-input" formControlName="fullName" />
    </div>

    <div class="form-group">
      <label class="mail-id"> E-Mail ID </label>
      <input type="text" class="fullname-input" formControlName="emailID" />
    </div>

    <div class="form-group">
      <label class="phone-number"> Phone Number </label>
      <input type="text" class="fullname-input" formControlName="phoneNumber" />
    </div>

    <div class="form-group">
      <label class="other-req"> Any Specific Requirement? </label> <span class="optional">(optional)</span>
      <input type="text" class="fullname-input" formControlName="others" />
    </div>

    <div class="form-group">
      <input type="checkbox" class="fullname-input" formControlName="fullName" />
      <i class="fas fa-shuttle-van"></i>
      <label class="site-visit"> Arrange me a Site Visit </label>

    </div>

  </form>

</div>
<button mat-button (click)="cancel()">Cancel</button>
<button class="enquiry-form-submit" (click)="onSubmitClick()">Submit</button>