<img drag-scroll-item src="/assets/images/1.jpg" (click)="previewLarge('assets/images/1.jpg')" />
<img drag-scroll-item src="/assets/images/2.jpg" (click)="previewLarge('assets/images/2.jpg')" s />
<img drag-scroll-item src="/assets/images/3.jpg" />
<img drag-scroll-item src="/assets/images/4.jpg" />
<img drag-scroll-item src="/assets/images/5.jpg" />
<img drag-scroll-item src="/assets/images/6.jpg" />
<img drag-scroll-item src="/assets/images/7.jpg" />
<img drag-scroll-item src="/assets/images/8.jpg" />