<footer>

  <div class="ply-footer-panel">
    <div class="ply-container">
      <div class="ply-footer-menu">
        <div>
          <img src="/assets/images/svg/logo-pillarly.svg" alt="Pillarly logo" class="ply-logo" />
          <div class="ply-logo-constent">
            This is Photoshop's version of Lorem Ipsum.
            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis.
          </div>
        </div>
        <div>
          <div class="ply-action-title">
            Recent Posts
          </div>
          <nav>
            <a href="/#">About Pillarly</a>
            <a href="/#">Our Partners </a>
            <a href="/#">Interior Design Solutions</a>
            <a href="/#">Terms & Conditions</a>
          </nav>
        </div>
        <div>
          <div class="ply-action-title">
            Customer Support
          </div>
          <nav class="ply-csupport">
            <div class="ply-inline-no-action">
              <div class="ply-icon">
                <img src="/assets/images/svg/icon-phone.svg" />
              </div>
              <div class="ply-label">
                930 1234 5679
              </div>
            </div>
            <div class="ply-inline-no-action">
              <div class="ply-icon">
                <img src="/assets/images/svg/icon-mail.svg" />
              </div>
              <div class="ply-label">
                ontact@pillarly.com
              </div>
            </div>
            <div class="ply-inline-no-action">
              <div class="ply-icon">
                <img src="/assets/images/svg/icon-print.svg" />
              </div>
              <div class="ply-label">
                1234 9930 1234 5679
              </div>
            </div>

            <!-- <a href="/#"><img src="/assets/images/svg/icon-mail.svg" />contact@pillarly.com</a>
                      <a href="/#"><img src="/assets/images/svg/icon-print.svg" />1234 9930 1234 5679</a> -->
          </nav>
        </div>
        <div class="ply-news-letter">
          <div class="ply-action-title">
            Newsletter
          </div>
          <div class="ply-news-content">
            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
          </div>
          <div class="ply-inline-input-action">
            <input type="text" /><button>Submit</button>
          </div>
        </div>
      </div>


    </div>
    <mat-toolbar color="primary">
      <div class="ply-container">
        <div class="ply-copyright">&copy;2018 Pillarly.com, All Rights Reserved</div>
        <div class="ply-icon-gototop"><img src="/assets/images/svg/icon-gototop.svg" />
        </div>

        <ul class="ply-social-media">
          <li><img src="/assets/images/svg/icon-google.svg" />
          </li>
          <li><img src="/assets/images/svg/icon-twitter.svg" />
          </li>
          <li><img src="/assets/images/svg/icon-linkedin.svg" />
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </div>

</footer>