@import '../../../../assets/styles/variables';

.main-container {
    background: $White-Smoke;
    padding: 69px 0px;
}

.details-container {
    margin: 0 auto;
    background: $White-Smoke;
    width: 1170px;
}

.left-pane {
    display: inline-block;
    margin-right: 30px;
    background: $white;
    width: 770px;
    height: 1937px;
}

.right-pane {
    display: inline-block;
    width: 370px;
    padding: 20px;
    background: $white;
    float: right;
    height: 1937px;
}

.carousel-thumbnails {
    width: 107px;
    height: 66px;
}

#thumbcarousel .item {
    text-align: center;
}

.product-slider #thumbcarousel .item .thumb {
    border: 4px solid #cecece;
    width: 20%;
    margin: 0 2%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    max-width: 98px;
}

.carousel-indicators {
    position: relative;
    top: 30px;
    margin: 0 30px;
    width: 710px;
    overflow: hidden;
}

img.gallery-preview {
    width: 770px;
    height: 481px;
}

span.thumb-container {
    margin: 0 5px;
}

.gallery-area {
    height: 607px;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
    width: 30px;
    height: 40px;
    opacity: 0.8;
    background-color: $night-rider;
}

span.carousel-control-prev-icon:hover,
span.carousel-control-next-icon:hover,
span.carousel-control-prev-icon:focus,
span.carousel-control-next-icon:focus {
    background-color: $ruby;

}

.carousel-control-next,
.carousel-control-prev {
    top: 60px;
    width: auto
}

.item {
    display: flex;
}

.property-desc {
    padding: 0 30px;
}

i {
    font-family: 'FontAwesome';
}

.property-features {
    padding: 10px 0px;
    border-bottom: 1px solid $gainsboro;
}

.property-short-desc {
    margin: 10px 0px 30px;
}

label.label-area,
label.label-bathrooms,
label.label-bedrooms {
    margin-left: 10px;
    font-family: 'Roboto-Light';
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: left;
    color: $black;
}

span.amenities {
    margin-right: 20px;
}

.prop-desc {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: $dim-gray;
}

.property-name {
    font-family: 'Roboto-Bold';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $black;
}

table {
    width: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
    height: 205px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mat-table {
    overflow: hidden;
}

mat-header-row.mat-header-row,
mat-row.mat-row {
    height: 41px;
    min-height: 41px;
}

mat-cell.mat-cell {
    font-family: 'Roboto-Light';
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    border: none;
}

span.action-col {
    font-family: 'Roboto-Light';
    font-size: 12px;
    border-radius: 3px;
    border: solid 0.7px $ruby;
    background-color: #ffffff;
    width: 81px;
    height: 26px;
    text-align: center;
    line-height: 2;
    color: $ruby
}

.property-amenities {
    margin: 50px 0px;
}

.loc-area-heading-label {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

agm-map {
    height: 300px;
}

.property-config-header {
    margin: 20px 0px;
}

label.config-heading {
    font-family: 'Roboto-Light';
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.mat-header-cell {
    color: rgba(0, 0, 0, 0.54);
    background: $ruby;
    font-family: 'Roboto-Bold';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.loc-area {
    margin: 30px 0px;
}
