<div class="main-container">

  <div class="details-container">

    <div>

      <div class="left-pane">

        <div>

          <div class="ply-carousel-preview">

            <img src='{{previewLargeImage.largeMediaPath}}' *ngIf="previewLargeImage.largeMediaType=='image'" />

            <video controls *ngIf="previewLargeImage.largeMediaType=='video'">
              <source src="{{previewLargeImage.largeMediaPath}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

          <owl-carousel [options]="{items: 3, dots: false, navigation: true, nav: true}" [items]="sliderMedia"
            [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let image of sliderMedia;let i = index">
              <div class="thumbnail-image">
                <img drag-scroll-item src="{{image.thumnail}}" (click)="previewLarge(image)" />
              </div>
            </div>
          </owl-carousel>

        </div>

        <div class="property-desc">
          <div class="property-name"> Brigade Orchards Villa </div>

          <div class="property-features">
            <span class="amenities area"><i class="fas fa-male"></i><label class="label-area">5000 Sq Ft</label></span>
            <span class="amenities bathrooms"><i class="fas fa-male"></i><label class="label-bathrooms">5 bathrooms</label></span>
            <span class="amenities bedrooms"><i class="fas fa-bed"></i><label class="label-bedrooms">4 bedrooms</label></span>
          </div>

          <div class="property-short-desc">

            <p class="prop-desc"> This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
              aliquet. Aenean
              sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
              sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            </p>
            <p class="prop-desc"> Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
              consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
              Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed
              fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
            </p>

          </div>

          <div class="property-amenities">

            <div style="display: inline-block">
              <div class="amenities area"><i class="fas fa-swimming-pool"></i></div>
              <label class="amenities-area">Swimming Pool</label>
            </div>

            <div style="display: inline-block">
              <div class="amenities bathrooms"><i class="fas fa-male"></i></div>
              <label class="amenities-bathrooms">5 bathrooms</label>
            </div>

            <div style="display: inline-block">
              <div class="amenities bedrooms"><i class="fas fa-bed"></i></div>
              <label class="amenities-bedrooms">4 bedrooms</label>
            </div>

          </div>

          <div class="property-config">

            <div class="property-config-header">
              <label class="config-heading">Configurations </label>
            </div>

            <!-- For box Shadow give this class to below table -> mat-elevation-z8 -->

            <div class="example-container">
              <mat-table #table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="UnitArea">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Unit Area </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.UnitArea}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Area">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Area </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.Area}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="BasicPrice">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Basic Price </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.BasicPrice}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                  <mat-cell *matCellDef="let element"><button class="action-col" (click)="openEnquiryFormDialog(element)">
                      {{element.Action}} </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>

          </div>

          <div class="loc-area">

            <div class="loc-area-heading">
              <label class="loc-area-heading-label">Property Location</label>
            </div>

            <div class="maps-area">
              <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="markerIcon"></agm-marker>
              </agm-map>
            </div>


          </div>


        </div>

      </div>

      <div class="right-pane">        

        <app-similar-property></app-similar-property>

      </div>

    </div>

  </div>