@import 'src/assets/styles/variables.scss';

.project-mat-card {
    display: inline-block;
}

.action-btn {
    float: right;
}

.card-image {
    position: relative;

    .building-type {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 12px 0 0 -12px;
        height: 50px;
        width: 50px;
        border-radius: 25px;

        .mat-icon {
            margin: 13px;
            color: $white;
        }
    }

    .featured-flag {
        position: absolute;
        right: 0;
        width: 85px;
        height: 30px;
        font-size: 14px;
        background-color: $featured-yellow;
        border-radius: 5px;
        margin-top: 18px;
        text-align: center;
        display: inline-block;

        img {
            margin-top: 5px;
        }

        span {
            margin: 6px 6px 0 0;
            float: right;
        }
    }

    .overlay-details {
        position: absolute;
        color: $white;
        bottom: 16px;
        height: 60px;
        padding: 16px 0 0 24px;
        margin: 0 0 0 -24px;
        background-color: rgba(0, 0, 0, 0.5);

        >div {
            display: inline-block;
            width: 50%;
            margin: 0;
        }

        .overlay-header {
            font-size: 11px;
            margin: 0;
        }

        .overlay-content {
            font-size: 12px;
            margin-top: 6px;
        }


    }
}

.project-card .mat-card-header {
    .title.mat-card-title {
        font-weight: bold !important;
    }
    .mat-card-subtitle {
        font-size: 12px;

    }
    .details.mat-card-subtitle{
        width: 100%;
        >div {
            display: inline-block;
            width: 50%;
            text-align: right;
            margin: 0;
        }
        >div:first-child {
            text-align: left;
        }
    }
}

.ply-card-footer {
    margin-top: 20px;
    .mat-card-subtitle {
        margin-bottom: 5px;
    }
    .mat-card-title {
        margin-bottom: 24px;
    }
    .mat-card-header .mat-card-title {
        font-size: 15px;
    }
}