<div class="project-mat-card">
  <mat-card class="project-card" *ngIf="inputData">
    <div class="card-image">
      <div class="building-type">
        <mat-icon *ngIf="inputData.buildingType === 'home'">home</mat-icon>
        <mat-icon *ngIf="inputData.buildingType === 'apartment'">business</mat-icon>
      </div>
      <div class="featured-flag" *ngIf="inputData.featured">
        <img src="/src/assets/images/svg/round_star_black_18dp.png" alt="star">
        <span>featured</span>
      </div>
      <div class="overlay-details">
        <div class="overlay-status">
          <div class="overlay-header">Status</div>
          <div class="overlay-content">{{inputData.status}}</div>
        </div>
        <div class="overlay-rate">
          <div class="overlay-header">Rate per SQFT</div>
          <div class="overlay-content">{{inputData.ratePerSqft}}</div>
        </div>
      </div>
      <img mat-card-image src="/src/assets/images/dummy/{{inputData.image}}" alt="thumbnail">
    </div>
    <mat-card-header>
      <mat-card-title class="title">{{inputData.title}}</mat-card-title>
      <mat-card-subtitle class="details">
        <div>{{inputData.sqft}}</div>
        <div>{{inputData.rooms}}</div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="ply-card-footer">
      <button mat-raised-button color="primary" class="action-btn">Details</button>
      <mat-card-header>
        <mat-card-subtitle>Location</mat-card-subtitle>
        <mat-card-title>{{inputData.location}}</mat-card-title>
      </mat-card-header>
    </div>
  </mat-card>
</div>

