@import 'src/assets/styles/variables.scss';

.project-mat-card{
    display: inline-block;
}

.action-btn {
    float: right;
}

.card-image {
    position: relative;

    .building-type {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 12px 0 0 -12px;
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }

    .featured-flag {
        position: absolute;
        right: 0;
        width: 80px;
        height: 30px;
        font-size: 14px;
        background-color: $featured-yellow;
        border-radius: 5px;
        margin-top: 18px;
        text-align: center;
        mat-icon {
            height: 14px;
            width: 14px;
        }
        .material-icons {
            font-size: 14px;
        }
        mat-icon, span {
            margin-top: 6px;
        }
    }

    .overlay-details {
        position: absolute;
        height: 30px;
        bottom: 20px;
        padding: 24px;
        margin-left: -24px;
        background-color: rgba(0, 0, 0, 0.3);
    }
}