<app-search-bar (searchParameters)="onSearch($event)"></app-search-bar>
<div class="ply-container" *ngIf="!displaySearchPage">
  <app-project-group *ngIf="trendingProjects" [inputData]="trendingProjects"></app-project-group>
  <app-project-group *ngIf="featuredProjects" [inputData]="featuredProjects"></app-project-group>
  <app-project-tab></app-project-tab>
  <app-review-card></app-review-card>
  
</div>

<div class="ply-container" *ngIf="displaySearchPage && searchResults">
  <app-search-page [inputData]="searchResults"></app-search-page>  
</div>