@import './../../../../assets/styles/variables';

.search-bar {
    width: 100%;
    height: 90px;
    margin-bottom: 45px;
    background-color: $seashell;
}

.slider {
    margin: 10px 0;
}

.slider , .search-form {
    display: inline-block;
}