.ply-container {
    app-buy-in-menu {
        height: inherit;
        float: left;
    }
    button {
        height: inherit;
    }
}

.btn-login {
    height: inherit;
    background-color: #460045;
    padding-right: 18px;
    mat-icon.mat-icon{
        height: 18px;
        width: 18px;
    }
    mat-icon.material-icons {
        font-size: 18px;
    }
}

@media (max-width: 799px) {
    .customer-care {
        display: none;
    }
}