<div class="title-card-panel">
  <div>
    <app-title-card [title]="'Client Testimonials'"></app-title-card>
  </div>
  <div class="custom-pagination">
    <div class="ply-page-arrow">
      <div class="ply-page-icon">
        <img src="/assets/images/svg/arrow-left.svg" alt="Previous">
      </div>
    </div>
    <div class="ply-page-arrow">
      <div class="ply-page-icon ply-page-active">
        <img src="/assets/images/svg/arrow-right.svg" alt="Next">
      </div>
    </div>
    
  </div>
</div>

<div class="review-card">
  <div>
    <div class="review-card-list">

      <div>
        <img src="/assets/images/testimonials/testimonial_1.png">
      </div>

      <div>
        <div class="review-comments">
          <span class="comma-ui" style="display:inline-block">"</span>
          <span style="display:inline-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras sit amet pharetra est. Vivamus vitae dui arcu. Vestibulum consectetur nunc in ex auctor feugiat.
          </span>

          <span class="comma-ui">"</span>
        </div>

      </div>

    </div>
  </div>

  <div>
    <div class="review-card-list">

      <div>
        <img src="/assets/images/testimonials/testimonial_2.png">
      </div>

      <div>
        <div class="review-comments">
          <span class="comma-ui" style="display:inline-block">"</span>
          <span style="display:inline-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras sit amet pharetra est. Vivamus vitae dui arcu. Vestibulum consectetur nunc in ex auctor feugiat.
          </span>

          <span class="comma-ui">"</span>
        </div>

      </div>

    </div>
  </div>

</div>