<div class="title-card-panel">
  <div>
    <app-title-card></app-title-card>
  </div>
  <div class="custom-pagination"></div>
</div>

<div class="review-card">
  <div>
    <div class="review-card-list">

      <div>
        <img src="/assets/images/testimonials/testimonial_1.png">
      </div>

      <div>
        <div class="review-comments">
          <span class="comma-ui" style="display:inline-block">"</span>
          <span style="display:inline-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras sit amet pharetra est. Vivamus vitae dui arcu. Vestibulum consectetur nunc in ex auctor feugiat.
          </span>

          <span class="comma-ui">"</span>
        </div>

      </div>

    </div>
  </div>

  <div>
    <div class="review-card-list">

      <div>
        <img src="/assets/images/testimonials/testimonial_2.png">
      </div>

      <div>
        <div class="review-comments">
          <span class="comma-ui" style="display:inline-block">"</span>
          <span style="display:inline-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras sit amet pharetra est. Vivamus vitae dui arcu. Vestibulum consectetur nunc in ex auctor feugiat.
          </span>

          <span class="comma-ui">"</span>
        </div>

      </div>

    </div>
  </div>

</div>