@import './../../../assets/styles/variables';
.review-card {
    display: flex;
    &>div {
        background-color: $seashell;
        margin: 10px;
    }
}

.review-card-list {
    display: flex;
    background-color: $white;
    &>div {
        font-size: 30px;
        width: 48%;
        /* width: 280px;
        height: 265px;
        */
        img {
            width: 100%;
            height: 100%;
        }
    }
    .review-comments {
        width: 215px;
        height: 110px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        span {
            position: relative;
            left: 14px;
            top: 12px;
            &:before {
                content: 'â€';
                font-size: 35px;
                color: rgba(0, 0, 0, 0.2);
                opacity: 0.8;
                position: absolute;
                left: -14px;
                top: -12px;
            }
            &:after {
                content: '"';
                font-size: 35px;
                color: rgba(0, 0, 0, 0.2);
                opacity: 0.8;
                position: absolute;
                bottom: -25px;
            }
        }
    }
}

.comma-ui {
    width: 19px;
    height: 17px;
    opacity: 0.2;
    font-family: Arial;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: right;
    color: rgba(0, 0, 0, 0.2);
}

.title-card-panel {
    >div {
        display: inline-block;
        width: 90%;
    }
    div.custom-pagination {
        width: 10%;
        height: 20px;
        position: relative;
        right: 0; // background-color: $silver;
    }
}

.ply-page-icon {
    width: 51px;
    height: 51px;
    background-color: $charcoal;
    cursor: pointer;
    &.ply-page-active {
        background-color: $razzmatazz;
    }
    img {
        margin-top: 14px;
        width: 10px;
        height: 22px;
        margin-left: 18px;
    }
}

.ply-page-arrow {
    display: inline-block;
}

.ply-review-user {
    border-top: 1px solid $silver;
    margin-top: 30px;
    margin-left: 12px;
    >div {
        padding-top: 10px;
    }
    .ply-reviewer-name {
        font-size: 20px;
        font-weight: 300;
        line-height: 0.63;
    }
    .ply-reviewer-address {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
    }
}