.review-card {
    display: flex;
    &>div {
        background-color: #f1f1f1;
        margin: 10px;
    }
}

.review-card-list {
    display: flex;
    background-color: #FFF;
    &>div {
        font-size: 30px;
        width: 280px;
        height: 265px;
    }
    .review-comments {
        width: 215px;
        height: 110px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
    }
}

.comma-ui {
    width: 19px;
    height: 17px;
    opacity: 0.2;
    font-family: Arial;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: right;
    color: rgba(0, 0, 0, 0.2);
}
