<div class="title-card-panel">
  <div>
    <app-title-card [title]="'Client Testimonials'"></app-title-card>
  </div>
  <div>
    <!-- <app-pagination></app-pagination> -->
  </div>
</div>

<div class="review-card">
  <div>
    <div class="review-card-list">

      <div>
        <img src="/assets/images/testimonials/testimonial_1.png">
      </div>

      <div>
        <div class="review-comments">
          <!-- <span class="comma-ui" style="display:inline-block">"</span> -->
          <span style="display:inline-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras sit amet pharetra est. Vivamus vitae dui arcu. Vestibulum consectetur nunc in ex auctor feugiat.
          </span>

          <!-- <span class="comma-ui">"</span> -->
        </div>
        <div class="ply-review-user">
            <div class="ply-reviewer-name">
                Srinivas Sastri
            </div>
            <div class="ply-reviewer-address">
                Bought 3BHK Apartment in salapuria sativa, Bangalore 
            </div>
  
          </div>

      </div>

    </div>
  </div>

  <div>
    <div class="review-card-list">

      <div>
        <img src="/assets/images/testimonials/testimonial_2.png">
      </div>

      <div>
        <div class="review-comments">
          <!-- <span class="comma-ui" style="display:inline-block">"</span> -->
          <span style="display:inline-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras sit amet pharetra est. Vivamus vitae dui arcu. Vestibulum consectetur nunc in ex auctor feugiat.
          </span>

          <!-- <span class="comma-ui">"</span> -->
        </div>

        <div class="ply-review-user">
          <div class="ply-reviewer-name">
              Jayashree Murugesan
          </div>
          <div class="ply-reviewer-address">
              Bought 4BHK Apartment in RMZ Infinity, Chennai 
          </div>

        </div>

      </div>

    </div>
  </div>

</div>