@import './../../../assets/styles/variables';
.review-card {
    display: flex;
    &>div {
        background-color: $seashell;
        margin: 10px;
    }
}

.review-card-list {
    display: flex;
    background-color: $white;
    &>div {
        font-size: 30px;
        width: 280px;
        height: 265px;
    }
    .review-comments {
        width: 215px;
        height: 110px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: right;
        color: $black;
    }
}

.comma-ui {
    width: 19px;
    height: 17px;
    opacity: 0.2;
    font-family: Arial;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: right;
    color: rgba(0, 0, 0, 0.2);
}

.title-card-panel {
    >div {
        display: inline-block;
        width: 90%;
    }
    div.custom-pagination {
        width: 10%;
        height: 20px;
        position: relative;
        right: 0;
        // background-color: $silver;
    }
}

.ply-page-icon {
    width: 51px;
    height: 51px;
    background-color: $charcoal;
    cursor: pointer;
    &.ply-page-active {
        background-color: $razzmatazz;
    }
    img {
        margin-top: 14px;
        width: 10px;
        height: 22px;
        margin-left: 18px;
    }
}

.ply-page-arrow {
    display: inline-block;
}