@import 'src/assets/styles/variables.scss';

.overlay-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    color: $white;

    .container {
        button.close-btn {
            float: right;
            height: 85px;
            width: 100px;
        }
        ul {
            padding-top: 100px;
            text-align: center;
            list-style: none;
            margin: 0;
            li {
                color: $white;
                height: 65px;
                padding-top: 25px;
                // border-bottom: 2px solid $white;
            }
        }
    }
}