<div class="overlay-container" [@fadeInOut]>
  <div class="container">
    <button mat-icon-button class="close-btn" (click)="closeMenu()">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <!-- <mat-list>
        <mat-list-item>HOME</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>ABOUT US</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>INTERIOR DESIGN</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>INTERIOR DESIGN</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>PROPERTY MANAGEMENT</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>HOME LOAN OPTIONS</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>CONTACT US</mat-list-item>
      </mat-list> -->
      <ul>
        <li>HOME</li>
        <li>ABOUT US</li>
        <li>INTERIOR DESIGN</li>
        <li>PROPERTY MANAGEMENT</li>
        <li>HOME LOAN OPTIONS</li>
        <li>CONTACT US</li>
      </ul>
    </div>
  </div>

</div>