
.banner-image {
    background: url(/src/assets/images/dummy/banner.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-content {
    text-align: center;
}

