<div class="window-container" *ngIf="projectList">

  <app-pagination *ngIf="paginationData" [inputData]="paginationData" (clicked)="getBannerWindowProjects($event)">
  </app-pagination>

  <div class="window-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{projectList.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{projectList.details}}
        </p>
        <p>
          <span class="window-amenity" *ngFor="let amenity of projectList.amenities">
            {{amenity.value}}
          </span>
        </p>
        <p>
          <mat-divider></mat-divider>
        </p>
      </mat-card-content>
      <div class="window-action-btn">
        <button mat-raised-button color="primary">{{projectList.amount}}</button>
        <button mat-raised-button color="accent">Details</button>
      </div>

    </mat-card>
  </div>
</div>