/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/material-styles.scss";
@import "./assets/styles/form-styles.scss";
@import '~material-design-icons/iconfont/material-icons.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $white-smoke;
}

body, html {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
}


@media (max-width: 767px) {
  .container {
    width: calc(100vw - 100px);
  }
  .project-card, .card-image .overlay-details {
    width: calc((100vw - 100px) / 1.5 - 20px);
}
}

@media (min-width: 768px) {
  .container {
    width: calc(100vw - 100px);
  }
  .project-card, .card-image .overlay-details {
    width: calc((100vw - 100px) / 2 - 20px);
}
}

@media (min-width: 1024px) {
  .container {
    width: calc(100vw - 100px);
  }
  .project-card, .card-image .overlay-details {
    width: calc((100vw - 100px) / 3 - 20px);
}
}

@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }
  .project-card,  .card-image .overlay-details {
    width: calc(1080px / 3 - 20px);
}
}

.flex-space {
  flex: 1 1 auto;
}
