/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/material-styles.scss";
@import "./assets/styles/form-styles.scss";
@import '~material-design-icons/iconfont/material-icons.css';

@import "~font-awesome/css/font-awesome.css";

* {
  font-family: 'Roboto';
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format('woff2'),
    url(./assets/fonts/Roboto/Roboto-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf) format('woff2'),
    url(./assets/fonts/Roboto/Roboto-Bold.ttf) format('woff');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf) format('woff2'),
    url(./assets/fonts/Roboto/Roboto-Light.ttf) format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $white-smoke !important;
}

body,
html {
  height: 100%;
}

.ply-container {
  margin-right: auto;
  margin-left: auto;
}


@media (max-width: 767px) {
  .ply-container {
    width: calc(100vw - 100px);
  }

  .project-card,
  .card-image .overlay-details {
    width: calc((100vw - 100px) / 1.5 - 20px);
  }
}

@media (min-width: 768px) {
  .ply-container {
    width: calc(100vw - 100px);
  }

  .project-card,
  .card-image .overlay-details {
    width: calc((100vw - 100px) / 2 - 20px);
  }
}

@media (min-width: 1024px) {
  .ply-container {
    width: calc(100vw - 100px);
  }

  .project-card,
  .card-image .overlay-details {
    width: calc((100vw - 100px) / 3 - 20px);
  }
}

@media (min-width: 1200px) {
  .ply-container {
    width: 1080px;
  }

  .project-card,
  .card-image .overlay-details {
    width: calc(1080px / 3 - 20px);
  }
}

.flex-space {
  flex: 1 1 auto;
}