@import './variables';
.ply-icon-trans {
    margin: 0 auto;
}

.ply-icon-prev-trans {
    background: $sprite-trans;
    background-position: -175px 0px;
}

.ply-icon-next-trans {
    background: $sprite-trans;
    background-position: -202px 0px;
}

.ply-icon-swimming-pool-trans {
    background: $sprite-trans;
    background-position: -8px -99px;
    width: 40px;
    height: 34px;
}

.ply-icon-gym-trans {
    background: $sprite-trans;
    background-position: -68px -99px;
    width: 40px;
    height: 34px;
}

.ply-icon-security-trans {
    background: $sprite-trans;
    background-position: -125px -99px;
    width: 40px;
    height: 34px;
}

.ply-icon-lift-trans {
    background: $sprite-trans;
    background-position: -177px -99px;
    width: 50px;
    height: 34px;
}

.ply-icon-phone-trans {
    background: $sprite-trans;
    background-position: -26px -29px;
    width: 30px;
    height: 30px;
}

.ply-icon-email-trans {
    background: $sprite-trans;
    background-position: -55px -27px;
}

.ply-icon-fax-trans {
    background: $sprite-trans;
    background-position: -84px -27px;
}

.ply-icon-arrow-fr-trans {
    background: $sprite-trans;
    background-position: -6px -35px;
    width: 18px;
    height: 18px;
}

.ply-icon-arrow-ft-trans {
    background: $sprite-trans;
    background-position: -384px -4px;
    width: 30px;
    height: 30px;
}

.ply-icon-google-trans {
    background: $sprite-trans;
    background-position: -9px -144px;
    width: 42px;
    height: 42px;
}

.ply-icon-twitter-trans {
    background: $sprite-trans;
    background-position: -67px -144px;
    width: 42px;
    height: 42px;
}

.ply-icon-sc1-trans {
    background: $sprite-trans;
    background-position: -123px -144px;
    width: 42px;
    height: 42px;
}

.ply-icon-fb-trans {
    background: $sprite-trans;
    background-position: -9px -195px;
    width: 42px;
    height: 42px;
}

.ply-icon-in-trans {
    background: $sprite-trans;
    background-position: -67px -195px;
    width: 42px;
    height: 42px;
}

.ply-icon-sc2-trans {
    background: $sprite-trans;
    background-position: -123px -195px;
    width: 42px;
    height: 42px;
}

.ply-icon-area-unit-trans {
    background: $sprite-trans;
    width: 30px;
    height: 30px;
    background-position: -113px 0px;
}

.ply-icon-bedroom-trans {
    background: $sprite-trans;
    width: 30px;
    height: 30px;
    background-position: -143px 0px;
}

.ply-icon-bathroom-trans {
    background: $sprite-trans;
    background-position: -203px -32px;
    width: 24px;
    height: 20px;
}
