/** Measurements section */
$padding-big: 150px;
$small-header-height: 40px;
$height-medium: 70px;
$card-width: 270px;

$gap-vertical-medium: 10px;

/** Font section */
$font-primary: 'Roboto';

/** Color section */

/** White colors */
$white: #FFFFFF;
$seashell: #F1F1F1;
$white-smoke: #EBEBEB;
$White-Smoke: #F3F3F3;
$gainsboro: #DBDBDB;

/** Black Colors */
$black: #000;

/** Yellow colors */
$featured-yellow: #f0f000;

/** Red colors */
$razzmatazz: #ED145A;
$ruby: #ED145B;

/** Grey colors */
$alto: #D7D7D7;
$silver: #CCCCCC;
$charcoal: #474747;
$charcoal-secondary: #414141;
$night-rider: #303030;
$dim-gray: #6B6B6B;
$dark-gray: #aeaeae;

/** Image paths */

$sprite-trans: url(/assets/images/sprites/icon-sprite-transparent.png) no-repeat;
