
/** Measurements section */
$padding-big: 150px; 
$small-header-height: 40px;
$card-width: 270px;

/** Color section */

/** White colors */
$white: #FFFFFF;
$seashell: #F1F1F1;

/** Black Colors */
$black: #000;

/** Yellow colors */
$featured-yellow: #f0f000;

/** Red colors */
$razzmatazz: #ED145A;

/** Grey colors */
$alto: #D7D7D7;
$silver: #CCCCCC;
$charcoal: #474747;
