/**
 *  Add Styles for Material CSS here
*/

@import 'variables.scss';


header, footer {
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 45px;
        padding: 0px $padding-big;
    }
}

mat-card {
    display: inline-block !important;
    margin-right: 10px;
    div {
        margin-top: 10px;
    }
}

.mat-card .mat-divider-horizontal {
    margin-left: 5%;
    width: 90% !important;
}