/**
 *  Add Styles for Material CSS here
*/

@import 'variables.scss';


header,
footer {

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: $small-header-height;
        padding: 0px $padding-big;
        width: inherit !important;
    }
}

footer {
    .mat-toolbar-single-row {
        height: $height-medium;
    }
}

.mat-toolbar.mat-primary {
    .ply-container {
        height: $small-header-height;
        display: inline-block;
        text-align: right;
    }
}

.project-mat-card {
    mat-card {
        display: inline-block !important;
        margin: 0 20px 20px 0;
        padding: 0 24px !important;
    }

    .mat-card .mat-divider-horizontal {
        margin-left: 5%;
        width: 90% !important;
    }
}

.window-card {
    .mat-card {
        height: 100%;
        background-color: $white-smoke;
        border-radius: 0;

        .mat-card-header .mat-card-title {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 6px;
        }

        .mat-card-header-text {
            margin: 0;
        }
    }
}

.mat-raised-button {
    border-radius: 5px !important;
}

.mat-menu-panel .mat-menu-content:not(:empty) {
    padding: 0;
}

.mat-card-header-text {
    margin: 0 !important;
    width: 100%;
}

.mat-slider-vertical.slider-margin {
    min-height: 70px;
}

.enquiryFormContainer .mat-dialog-container {
    padding: 0;
}