@import './../../../../assets/styles/variables';
@import './../../../../assets/styles/sprites';

.ply-copyright-panel {
    .mat-toolbar.mat-primary {
        .ply-container {
            text-align: left;
            display: flex;
            >div:first-child {
                width: 50%;
            }
            .ply-icon-gototop {
                margin-top: 5px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .ply-social-media {
                // padding-top: 10px;
            }
            >ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: right;
                width: 48%;
                li {
                    display: inline-block;
                    margin-left: 12px;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}