<div class="ply-copyright-panel ">
  <mat-toolbar color="primary">
    <div class="ply-container">
      <div class="ply-copyright">&copy;2018 Pillarly.com, All Rights Reserved</div>
      <div class="ply-icon-gototop ply-icon-arrow-ft-trans">
        <!-- <img src="/assets/images/svg/icon-gototop.svg" /> -->
      </div>

      <ul class="ply-social-media">
        <li class="ply-icon-google-trans">
          <!-- <img src="/assets/images/svg/icon-google.svg" /> -->
        </li>
        <li class="ply-icon-twitter-trans">
          <!-- <img src="/assets/images/svg/icon-twitter.svg" /> -->
        </li>
        <li class="ply-icon-sc1-trans">
          <!-- <img src="/assets/images/svg/icon-linkedin.svg" /> -->
        </li>
        <li class="ply-icon-sc2-trans"></li>
        <li class="ply-icon-in-trans"></li>
        <li class="ply-icon-fb-trans"></li>
      </ul>
    </div>
  </mat-toolbar>
</div>